@page "/TaskList/{id}"
@inherits TaskListBase
@inject NavigationManager navManager
<div>
    @if (!isDataReady)
    {
        <span>Loading ...</span>
    }
    else
    {
        <h2>@todo.Name</h2>
        <p>@todo.Description</p>
        <ul class="list-group col-lg-6 pl-3">
            @foreach (var task in todo.Tasks)
            {
            <li class="list-group-item row">

                @if (isEditMode)
                {
                    <input type="text" class="form-control col-10 mr-2"  value="@task.Name" @onchange="@(async args=> {task.Name = args.Value.ToString();await OnItemChanged(task); })"/>
                    
                }
                else
                {
                    <label class="col-10">@task.Name</label>
                    <input type="checkbox" checked="@task.IsDone" @onclick="@(()=> OnItemChanged(task))" class="col-1" />
                }

            </li>
            }

            @if (showCreate == true)
            {
                <Tasks id="@todo.ID"></Tasks>
            }
        </ul>


        @if (isEditMode)
        {
            <button type="button" @onclick="@(()=>@isEditMode = false)" class="btn btn-primary mt-3">View Mode</button>
        }
        else
        {
            <button type="button" @onclick="@(() => @isEditMode = true)" class="btn btn-primary mt-3">Edit Mode</button>
        }
        <button type="button" @onclick="@(()=>@showCreate = true)" class="btn btn-primary mt-3 ml-2">Create New</button>
        <button type="button" @onclick="@(()=>navManager.NavigateTo("/TodoList"))" class="btn btn-info mt-3 ml-2">Home</button>


    }
</div>
